<footer>
    <p>© 2025 by Gustavo Madeira. All rights reserved.</p>
    <div class="social-icons">
        <a href="https://scholar.google.com/citations?hl=en&user=ZF1mcjoAAAAJ" target="_blank"><i class="fab fa-google"></i> Google Scholar</a>
        <a href="https://orcid.org/0000-0001-5138-230X" target="_blank"><i class="fab fa-orcid"></i> ORCID</a>
        <a href="https://twitter.com/MadeiraAstro" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
        <a href="https://github.com/gusmadeira" target="_blank"><i class="fab fa-github"></i> GitHub</a>
        <a href="http://lattes.cnpq.br/2751228869487751" target="_blank"><i class="fas fa-address-card"></i> CV Lattes</a>
    </div>
</footer>
